@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Report a Sighting!</h1>
    <p>Which of these animals have you seen?</p>
    <div class="row report-sighting">
        <div class="col"></div>
        <div class="col">
            <button class="img-btn" aria-label="Swan">
                <img src="~/images/swan.svg" alt="Swan" />
            </button>
            <div class="btn-label">Swan</div>
        </div>
        <div class="col">
            <button class="img-btn" aria-label="Hedgehog">
                <img src="~/images/hedgehog.svg" alt="Hedgehog" />
            </button>
            <div class="btn-label">Hedgehog</div>
        </div>
        <div class="col"></div>
    </div>
</div>
